/* Table of Contents

1. global styles

2. typography

3. components

4. containers

*/




/* ===============
   global styles
   =============== */

/* In order to give ourselves a reset starting point:*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  background-color: #1b1f3b;
}

/* ===============
   typography
   =============== */

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: FuturaLight;
  src: url(fonts/Futura/futura_light_bt.ttf);
}

@font-face {
  font-family: Bauhaus;
  src: url(fonts/Bauhaus/BAUHS93.TTF);
}

@font-face {
  font-family: CourierNew;
  src: url(fonts/CourierNew/courbd.ttf);
}

h1, p {
  color: #e4d6a7;
  font-family: Futura, sans-serif;
}

#title h1 {
  margin: 1rem;
  text-align: center;
}

#abouttext p {
  font-size: 1rem;
  line-height: 180%;
}

footer p {
  text-align: center;
  color: #1b1f3b;
}

/* ===============
   components
   =============== */

footer {
  background-color: #e9b44c;
  width: 100vw;
  padding: 40px;
}

/* ===============
   containers
   =============== */
.wrapper, #footer-content {
  display: flex;
}

#column {
  flex-direction: column;
}

#row * {
  max-width: 48vw;
  max-height: 48vh;
  margin: 1%;
}

#title {
  justify-content:flex-end;
}

#abouttext {
  vertical-align: middle;
}

/* ===============
   images
   =============== */
