/* 
======================================================
  Table of Contents (skip to section with Ctrl + F)
======================================================

  1. Global variables

  2. Global styles

  3. Global typography

  4. Global components

  5. Global containers

  6. Global images

======================================================
  100. Desktop only rules
======================================================

  101. Desktop typography

  102. Desktop components

  103. Desktop containers

  104. Desktop images

======================================================
  200. Mobile only rules
======================================================

  201. Mobile typography

  202. Mobile components

  203. Mobile containers

  204. Mobile images

*/

/* =========================
    1. Global variables
   ========================= */

/* All values for upper and lower bounds were meticulously selected 
with intent for optimal responsiveness
after deliberate experimentation. */
:root {
  --h1-font-size: clamp(5rem, 10vw, 8rem);
  --h2-font-size: clamp(3rem, 5vw, 4rem);
  --article-width: clamp(500px, 80vw, 1000px);
  --p-font-size: clamp(1.2rem, 2vw, 1.6rem);
  --nav-a-font-size: clamp(1.3rem, 2.5vw, 2rem);
  --mob-h1-font-size: clamp(1.3rem, 10vw, 3rem);
  --mob-h2-font-size: clamp(1.2rem, 5vw, 3rem);
  --mob-article-width: 92vw;
  --mob-p-font-size: clamp(0.8rem, 4vw, 1.2rem);
  --mob-nav-a-font-size: 8vw;
  --figcaption-font-size: clamp(0.8rem, 3vw, 1rem);
}

/* =========================
    2. Global styles
   ========================= */

/* In order to give ourselves a reset starting point:*/
body, figure, .link-container ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* The site's primary background color. */
body {
  background-color: #1B1f3b;
}

/* The default accent color of our links. */
a {
  color: #50a2a7;
}

/* Removes the frame of elements in focus when navigating page with tab
and replaces their style with a high contrast appearance. */
a:focus, .nav a:hover, .nav a:focus, 
.link a:hover, .link a:focus {
  outline: none;
  color: #E4D6A7;
  background:#9b2915;
  border-radius: 10px;
}

/* Removes the dots from li. */
footer ul li, .nav a, .nav li, 
.link-container li, .skiptocontent li {
  list-style: none;
}

/* All html element, CSS rules, attributes and values referenced in text 
are emphasised with a high contrast appearance. */
code {
  color: #1B1f3b;
  background-color: #e9b44c;
  padding: 0 10px;
}

/* Rounds the corners of the selected elements' containers. */
code, article a, footer a {
  border-radius: 5px;
}

/* =========================
    3. Global typography
   ========================= */

/* Imports necessary fonts. */
@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(fonts/Avenir/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: FuturaLight;
  src: url(fonts/Futura/futura_light_bt.ttf);
}

@font-face {
  font-family: Futura;
  src: url(fonts/Futura/Futura_Book_font.ttf);
}

@font-face {
  font-family: CourierNew;
  src: url(fonts/CourierNew/courbd.ttf);
}

/* Gives the selected elements the appropriate color 
to contrast with their background. */
h1, h2, p, figcaption, .references {
  color: #E4D6A7;
}

/* Selects fonts for, sizes, 
centers and styles titles and text. */
h1, h2 {
  font-family: AvenirBlack, sans-serif;
}

h1 {
  text-align: center;
  margin: 30px 0 -10px 0;
  letter-spacing: 2px;
}

p {
  font-family: Avenir, sans-serif;
  line-height: 180%;
}

figcaption {
  font-size: var(--figcaption-font-size);
  line-height: 180%;
  text-indent: 20px;;
}

figcaption, .references h3, .references li, footer li {
  font-family: FuturaLight, sans-serif;
}

.titlediv h1 {
  color: #1B1f3b;
  font-family: AvenirBlack, sans-serif;
}

#learningh1 {
  font-family: CourierNew, monospace;
}

.link a {
  font-family: Futura;
}

.skiptocontent a, footer a {
  display: inline-block;
  font-family: AvenirBlack;
  font-size: var(--nav-a-font-size);
  line-height: 180%;
  color: #1B1f3b;
}

.references li, .skiptocontent li {
  font-size: var(--p-font-size);
  margin: 20px 0 0;
}

/* =========================
    4. Global components
   ========================= */

/* Sets the navigation bar's layout to flexbox and centers its content. */
.nav {
  display: flex;
  justify-content: center;
  background-color: #E4D6A7;
  overflow: hidden;
}

/* Styles and sets navigation links to inline-block, which respects margin and padding. */
.nav a {
  display: inline-block;
  font-family: AvenirBlack;
  border-radius: 10px;
  color: #1B1f3b;
  background-color: #E4D6A7;
}

/* Sets link groups to flex and centers content. */
.nav ul, .link-container ul {
  display: flex;
  justify-content: center;
}

/* Rearranges homepage links properly when changing viewport width. */
.link-container ul {
  flex-wrap: wrap;
}

/* Styles the page buttons and sets grow factor. */
.link {
  background: #E4D6A7;
  border-radius: 30px;     
  flex-grow: 1;
}

/* Styles and sets button links to inline-block, which respects margin and padding. */
.link a {
  color: #9b2915;
  display: inline-block;    
  height: 100%;
  text-align: center;
  border-radius: 30px;
}

/* Styles footer and provides appropriate space above. */
footer {
  background-color: #E9b44c;
  display: flex;
  justify-content: center;
  margin: 100px 0 0;
}


/* =========================
    5. Global containers
   ========================= */

/* Sets color contrasting with the title on the upper page portion. */
.titlesection {
  background-color: #E9b44c;
}

/* Centers the title's container. */
.titlediv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  background-color: #1B1f3b;
  margin: auto;
}

#projectdesc {
  width: var(--article-width);
  margin: auto;
}
/* =========================
    6. Global images
   ========================= */

/* Adds the stripes on the navigation bar    */
.nav {
  background-image: url(images/navbarimg.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

#accessibilitytitle {
  background-image: url(images/accessibility.png);
}

#bionicstitle {
  background-image: url(images/bionics.png);
}

#codingtitle {
  background-image: url(images/coding.png);
}

.titlesection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}


/* ======================================================
    100. Desktop only rules
   ====================================================== */

@media only screen and (min-width: 961px){

  /* =========================
      101.Desktop typography
     ========================= */

  /* Sizes and styles 
  titles and text. */  

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: var(--h2-font-size);
  }

  p {
    font-size: var(--p-font-size);
    text-indent: var(--p-font-size);
    text-indent: 50px;
  }

  .titlediv h1 {
    font-size: var(--h1-font-size);
  }

  .nav {
    font-size: 1.5em;
  }

  .nav a {
    font-size: var(--nav-a-font-size);
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .link a {
    font-size: var(--nav-a-font-size); 
    width: 100%;
    line-height: 500%;
  }

  /* ==========================
      102. Desktop components
     ========================== */

  /* Styles buttons 
  on front page. */

  .link-container ul {
    margin: 0 300px 0 300px;
  }

  .link {
    margin: 30px;
    width: 250px;
    height: 170px;
    min-height: 100px;        
  }

  /* Styles footer.  */
  footer ul > li {
    margin: 30px 100px;
  }

  /* ==========================
      103. Desktop containers
     ========================== */

  /* Sets article width range. */
  article {
    width: var(--article-width);
  }

  /* ==========================
      104. Desktop images
     ========================== */

  /* Sets image width range. */
  img {
    width: var(--article-width);
  }

}


/* ======================================================
    200. Mobile only rules
    ===================================================== */


@media only screen and (max-width: 960px){

  /* =============================
      201. Mobile typography
     ============================= */

  /* Sizes and styles 
  titles and text. */

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: var(--mob-h2-font-size);
    padding: 1vw;
  }
  
  p {
    font-size: var(--mob-p-font-size);
    text-indent: var(--mob-p-font-size);
    padding: 1vw;
  }
  
  .titlediv h1 {
    font-size: var(--mob-h1-font-size);
  }
  
  .nav {
    font-size: 3vw;
  }
  
  .nav a {
    font-size: 3vw;
    margin: 0 2vw;
    padding: 1vw;
    border-radius: 1vw;
  }
    
  .link a {
    font-size: var(--mob-nav-a-font-size); 
    width: 100%;
    line-height: 20vh;
  }

  /* =============================
    202. Mobile components
    ============================= */

  /* Styles navigation bar. */
  .nav ul {
    padding: 0%;
  }
  
  /* Styles button links on front page. */
  .link-container ul {
    margin: 0;
  }
  
  .link {
    margin: 5vh 5vw 5vh 5vw;
    width: 20vw;
    height: 17vh;
    min-height: 22vh;
    min-width: 50vw;    
  }

  /* Styles footer. */
  footer ul > li {
    margin: 10vw 10vw;
  }
  
  /* =============================
      203. Mobile containers
     ============================= */

  /* Sets article width range. */
  article {
    width: var(--mob-article-width);
  }
  
  /* =============================
      204. Mobile images
     ============================= */
  
  /* Sets image width range. */
  img {
    width: var(--mob-article-width);
  }
}
  
/* =============================
    300. Animations
    ============================= */

.skiptocontent, #homenavbar li, #funnavbar li, 
.animallist img, .animal {
  animation-name: fadeIn;
  animation-duration: 1.2s;
}

h1 {
  animation-name: fadeInDownSlow;
  animation-duration: 1s;
}

a:focus, .nav a:hover, .nav a:focus, 
.link a:hover, .link a:focus {
  transition-property: background;
  transition-duration: 0.1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%
  }
  50% {
    opacity: 0%
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInDownSlow {
  0% {
    transform: translateY(-10%);
    opacity: 0%
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}