/* Table of Contents

1. global styles

2. typography

3. components

*/




/* ===============
   global styles
   =============== */

/* In order to give ourselves a reset starting point:*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ===============
   typography
   =============== */

@font-face {
font-family: Avenir;
src: url(fonts/Avenir/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: FuturaLight;
  src: url(fonts/Futura/futura_light_bt.ttf);
}

@font-face {
  font-family: Bauhaus;
  src: url(fonts/Bauhaus/BAUHS93.TTF);
}

@font-face {
  font-family: CourierNew;
  src: url(fonts/CourierNew/courbd.ttf);
}

   
/* ===============
   components
   =============== */



.sectionBody{
  background-color: rgb(27, 31, 59);
  color: rgb(228, 214, 167);
  
  
}
a{
  color: green;
}

/*helt basic start for å dele opp sections*/
.section{ 
  margin-left: 15vw;
  margin-right: 15vw;
}
/*må gjøres en rekke flere endringer her osv*/
.sectionStart{ 
  text-align: center;
}
.sources{
margin-left: 5vw;
}
