/* Table of Contents

1. global styles

2. typography

3. components

*/




/* ===============
   global styles
   =============== */

/* In order to give ourselves a reset starting point:*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ===============
   typography
   =============== */





   

/* ===============
   components
   =============== */